/*Fonts*/
@font-face{
    font-family: audrey;
    src: url(assets/fonts/ad/adb.otf);
}
@font-face{
    font-family: homemadeapple;
    src: url(assets/font/hma/hma.ttf);
}
@font-face{
    font-family: audrey-bold;
    src: url(assets/font/ad/ad.otf);
}
@font-face{
    font-family: champagneandlimousines-bold;
    src: url(assets/font/champ/clb.ttf);
}
 @font-face{   
    font-family: champagneandlimousines;
    src: url(assets/font/champ/cl.ttf);
}

body, html{
    font-family: "champagneandlimousines", sans-serif;
}

/*navbar*/
.navbar{
    display: flex;
    height: 11em;
}
.icons{
    height: 25px;
    width: 25px;
}
.email-icon.btn{
    background-color: #012169;
}
.phone-icon.btn{
    background-color: #da291c;
}
.media-icon.btn{
    background-color: #ffd700;
}
.btn {
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
img.logo{
    height: 290px;
    margin-left: auto;
    margin-right: auto;
}
.container.ronds{
   position: absolute;
}

/*text*/
H1{
    font-family: "homemadeapple", sans-serif;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 55px;
    padding-top: 10%;
    
}
H2{
    font-family: "champagneandlimousines-bold", sans-serif;
    
    font-size: 25px;
    margin: 3px 35%;
    opacity: 1;
    animation-name: opacite;
    animation-duration: 10s;
    
}
H3{
    font-family: "audrey-bold", sans-serif;
    color: #012169;
    font-size: 25px;
    margin-bottom: 3px;
}
P{
    color: #012169;
    font-size: 20px;
    margin: 0 15% 2%;
}
.hero-text {
  text-align: center;
  margin-bottom: 80px;
  color: #ffffff;
}
.hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/dsk-bg.jpg);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

/*Responsive*/
/*X-Small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px){
    .navbar{
        display: grid;
                
    }
    .container.ronds{
        position: relative;
    }
    img.logo{
        height: 210px;
    }
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/mob-bg.jpg);
    
}
    H1{
        font-size: 36px;
        padding-top: 29%;
        margin: 0 7% 3% 7%;
   }
    H2{
       margin: 0; 
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) and (max-width: 1199.98px){
    .navbar{
        height: 9em;
    }
    .container.ronds{
        width: 200px;
    }
    img.logo{
        height: 230px;
    }
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/tab-bg.jpg);
    
    }
    H1{
        font-size: 42px;
        padding-top: 15%;
        margin: 0 10% 0 10%;
    }
    H2{
        margin: 1% 25% 0 25%;
    }
}