/*Fonts*/
@font-face{
    font-family: 'audrey';
    src: url(assets/fonts/ad/adb.otf);
}
@font-face{
    font-family: 'homemadeapple';
    src: url(assets/font/hma/hma.ttf);
}
@font-face{
    font-family: 'audrey-bold';
    src: url(assets/font/ad/ad.otf);
}
@font-face{
    font-family: 'champagneandlimousines-bold';
    src: url(assets/font/champ/clb.ttf);
}
 @font-face{
    font-family: 'champagneandlimousines';
    src: url(assets/font/champ/cl.ttf);
}
#allSite{
  transition: 5s;
}
html, body{
    font-family: "champagneandlimousines", sans-serif;

}

footer{
    height: 2rem;
}
header{
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;

  top: 0;
}

/*text*/
H2{
    font-family: "homemadeapple", sans-serif;

    font-size: 1.6rem;



}
H1{
    font-weight: bold;
    font-size: 25px;
    margin: 3px 35%;
    opacity: 0;


}
H3{
    font-family: "champagneandlimousines", sans-serif;
    color: #012169;
    font-size: 25px;
    margin: 5%;
    text-transform: uppercase;
    font-weight: bold;
}
P{
    color: #da291c;
    font-size: 25px;
    margin: 0 11% 2% 11%;
}

.hero-text {
  text-align: right;
  padding-top: 23rem;
  padding-right: 15.3rem;
  color: #ffffff;
}

.hero{
    height: 99vh;
    background-image: linear-gradient(rgba(212, 175, 55, 0.3), rgba(255, 255, 255, 0.3)), url(assets/pic/dsk-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
}
#circleSide{
  background-color: red;
  height: 10rem;
}


img.circles{
    width: 100px;
}

.calendar-icon.btn{
    width: 12rem;
    height: 4rem;
    background-color: #fff;

    animation: shadow-pulse 2s infinite;
    margin: auto;
}
.calendar-icon.btn:hover{
  animation: none;
}
#step1{
  border: solid 2px #d4af37;
  border-radius: 30px;
  padding: 0.5rem 2.4rem;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
     }
     100% {
          box-shadow: 0 0 0 10px rgba(212, 175, 55, 0);
     }
}

a.icon-txt{
    font-size: 1.7rem;
    color: #da291c;
    font-family: "champagneandlimousines", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    font-family: "audrey", sans-serif;
    color: #B0c4de;
    font-size: 10px
}

/*Responsive*/
/*Phone (portrait less than 576px)*/
@media screen and (max-width: 575.98px){
    .navbar{
      margin: 1rem 0;
    }

    .phone-icon.btn{
    display: inline!important;
    }
    .email-icon.btn{
    display: none;
    }
    .container.ronds{
        position: relative;
        display: flex;
        justify-content: center;
    }

    #topBar{
      height: 24rem;
    }
    #downSolid{
      height: 29rem;
    }
    .hero{
      /*background-image: linear-gradient(rgba(1, 33, 105, 0.3), rgba(1, 33, 105, 0.7)), url(assets/pic/mob-bg.jpg);*/
      margin-top: 7rem;
    }
    H2{
        font-size: 1rem;

        line-height: 2.5rem;
        margin: auto;
   }
    H1{
        margin: auto;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        opacity: 1;
    }
    .hero-text{
      text-align: center;
      color: #fff;
      padding-top: 7rem;
      padding-right: 0;
    }
    .promo{
        width: 300px;
        height: 380px;
        padding-top: 10%;
    }
    .bk-promo{
      width: 312px;
      height: 428px;
    }
    img.circles{
        margin: 5% 0 5% 0;
    }
    p{
        margin: 0 7% 5% 7%;
    }
    .emailArea{
        width: 150px;
    }
    aside.contact{
        height: 15px;
    }
    .link{
        font-size:17px;
    }
    footer{
        height: 20px;
        text-align: center;
    }
}

/*Tablettes (less than 768px)*/
@media (min-width: 768px) and (max-width: 1199.98px){

  /*  header{
      height: 12rem;
    }*/

    img.logo{

        width: 23rem;

    }
    #downSolid{
      height: 39rem;
    }
    .hero{
        height: 100vh;
        /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/tab-bg.jpg);*/

    }
    .hero-text{
      text-align: center;
      padding-top: 9rem;
      padding-right: 0;
    }
    H2{
        font-size: 30px;


    }
    H1{
        margin: 1% 25% 0 25%;
    }
    aside.contact{
        text-align: center;
    }
    footer{
      display: flex;
    }
    .nok-link{
      margin: auto;

    }

}
/*@media (min-width:768px){
    a.nok-link{
        float: right;
    }
}*/
