/*Fonts*/
@font-face{
    font-family: audrey;
    src: url(assets/fonts/ad/adb.otf);
}
@font-face{
    font-family: homemadeapple;
    src: url(assets/font/hma/hma.ttf);
}
@font-face{
    font-family: audrey-bold;
    src: url(assets/font/ad/ad.otf);
}
@font-face{
    font-family: champagneandlimousines-bold;
    src: url(assets/font/champ/clb.ttf);
}
 @font-face{   
    font-family: champagneandlimousines;
    src: url(assets/font/champ/cl.ttf);
}

body, html{
    font-family: "champagneandlimousines", sans-serif;
}

/*navbar*/
.navbar{
    display: flex;
    height: 11em;
}
.icons{
    height: 25px;
    width: 25px;
}
.email-icon.btn{
    background-color: #012169;
    animation-name: fadeIn;
    animation-delay: 1s;
}
.phone-icon.btn{
    background-color: #da291c;
    animation-name: fadeIn;
    animation-delay: 2s;
}
.media-icon.btn{
    background-color: #ffd700;
    animation-name: fadeIn;
    animation-delay: 3s;
}
.btn {
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #fafafa;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
img.logo{
    height: 290px;
    margin-left: auto;
    margin-right: auto;
}
.container.ronds{
   position: absolute;
}

/*text*/
H1{
    font-family: "homemadeapple", sans-serif;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 55px;
    padding-top: 10%;
    animation-name: fadeInLeft;
}
H2{
    font-family: "champagneandlimousines-bold", sans-serif;
    
    font-size: 25px;
    margin: 3px 35%;
    opacity: 1;
    animation-name: backInUp;
    animation-delay: 2s;
        
}
H3{
    font-family: "audrey-bold", sans-serif;
    color: #012169;
    font-size: 25px;
    margin: 5%;
    text-transform: uppercase;
    animation-name: flipInX;
    animation-delay: 6s;
}
P{
    color: #012169;
    font-size: 25px;
    margin: 0 11% 2% 11%;
}
.hero-text {
  text-align: center;
  margin-bottom: 80px;
  color: #ffffff;
}
.hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/dsk-bg.jpg);
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

/*Promo*/
.promo{
    border: solid 5px #FFD700;
    width: 600px;
    height: 270px;
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                0 2px 2px rgba(0,0,0,0.11), 
                0 4px 4px rgba(0,0,0,0.11), 
                0 8px 8px rgba(0,0,0,0.11), 
                0 16px 16px rgba(0,0,0,0.11), 
                0 32px 32px rgba(0,0,0,0.11);
}
img.circles{
    width: 100px;
}
.form-btn{
    background-color: #DA291C;
    color: white;
    height: 30px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    border: none;
    
}
Form{
    position: relative;
    
}
.textarea{
    border: none;
    background-color: #012169;
    color: white;
    height: 30px;
    width: 270px;
    font-size: 17px;
}
#email{
    text-align: center;
}
a{
    text-decoration: none;
    font-family: "Audrey";
    color: #012169;
    font-size: 10px
}
/*Animation cf H1*/
/*Text*/
.bes{
    animation: fadeIn;
    animation-delay: 3s;
}
.contact-form{
    animation-name: backInUp;
    animation-delay: 6s;
}


.animate__animated.animate__backInUp {
  --animate-duration: 5s;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}
.animate__animated.animate__fliInX {
  --animate-duration: 5s;
}
.animate__animated.animate__heartBeat {
  --animate-duration: 3s;
}




/*Responsive*/
/*Phone (portrait less than 576px)*/
@media screen and (max-width: 575.98px){
    .navbar{
        display: grid;
                
    }
    .container.ronds{
        position: relative;
    }
    img.logo{
        height: 210px;
    }
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/mob-bg.jpg);
    
}
    H1{
        font-size: 21px;
        padding-top: 29%;
        margin: 0 7% 3% 7%;
   }
    H2{
       margin: 0;
        font-size: 18px;
    }
    .promo{
        width: 300px;
        height: 380px;
        padding-top: 10%;
    }
    img.circles{
        margin: 5% 0 5% 0;
    }
    p{
        margin: 0 7% 5% 7%;
    }
    .textarea{
        width: 150px;
    }
    aside.contact{
        height: 15px;
    }
    .link{
        font-size:17px;
    }
    footer{
        height: 20px;
        text-align: center;
    }
}

/*Tablettes (less than 768px)*/
@media (min-width: 768px) and (max-width: 1199.98px){
    .navbar{
        height: 9em;
    }
    .container.ronds{
        width: 200px;
    }
    img.logo{
        height: 230px;
    }
    .hero{
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/pic/tab-bg.jpg);
    
    }
    H1{
        font-size: 42px;
        padding-top: 25%;
        margin: 0 10% 0 10%;
    }
    H2{
        margin: 1% 25% 0 25%;
    }
    aside.contact{
        text-align: center;
    }
        
}
@media (min-width:768px){
    a.nok-link{
        float: right;
    }
}